<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/botones.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resultados.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mi_cuenta_lista.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mi_cuenta_texto.css') }}">

</head>

{% extends "base.html" %}
{% block contenido %}
    <h1 class="mi-titulo">Bienvenido {{ current_user.nombre }}</h1>
    <div class="list-container">

        <ul>
          {% if not current_user.habilitado %}
            <li><div><p class="texto">Favor revisa tu correo y verificalo para poder votar.</p></div></li>
            <p class="texto">¿No te llegó el enlace? Haz <a class="click-aqui" href = "{{ url_for('auth.enviar_mail') }}">click aqui</a> para mandarlo de nuevo.</p>
          {% elif current_user.ya_voto %}
            <li><form>
                <button disabled class="botones" style="background-color: #fa7171;" formaction="{{ url_for('public.votar') }}">Ya votó</button>
            </form></li>
          {% else %}
            <li><form>
                <button class="botones" formaction="{{ url_for('public.votar') }}">Votar</button>
            </form></li>
          {% endif %}

          {% if current_user.is_admin %}
            <li><form>
                <button class="botones" formaction="{{ url_for('restricted.agregar_lista') }}">Ingresar listas</button>
            </form></li>
          {% endif %}
            <li>
            <form>
                <button class="botones" formaction="{{ url_for('auth.logout') }}">Cerrar sesión</button>
            </form>
            </li>
        </ul>
    </div>


    <div id="resultados">
        <form>
            <button class="botones" formaction="{{ url_for('public.resultados') }}">Resultados</button>
        </form>
    </div>
{% endblock %}