<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/botones.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resultados_tabla.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resultados_titulo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resultados_datos.css') }}">
</head>

{% extends "base.html" %}
{% block contenido %}
    <h1 class="mi-titulo">Resultados</h1>

        <div class="contenido1">
            <table>
                <tr>
                    <th>Lista</th>
                    <th>Votos</th>
                </tr>
                {% for l in datos.listas %}
                <tr>
                    <td><img src="{{ url_for('static', filename = 'images/' + l.imagen) }}" alt="{{ l.num_lista }}" style="width:100px;height:100px;margin:5px;"></td>
                    <td style="font-size:40px;">{{ l.cantidad_votos }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class ="contenido2">
                <div class="datos">
                    <p>Cantidad en el padrón: <strong>{{ datos.padron }}</strong></p>
                    <p>Personas habilitadas: <strong>{{ datos.users_habilitados }} ({{ datos.porcentaje_habilitados }}%)</strong></p>
                    <p>Votos realizados: <strong>{{ datos.porcentaje_votos }}% </strong></p>
                    <p>Ganador parcial: <strong>{{ datos.ganador_parcial }} con {{ datos.votos_ganador_parcial }} votos </strong></p>
                </div>
            </div>
        </div>

        <form class="general">
            <button class="botones" formaction="{{ url_for('public.index') }}">Volver</button>
        </form>

{% endblock %}