<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resultados_titulo.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/botones.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modals.css') }}">
</head>
{% extends "base.html" %}
{% block contenido %}
    <h1 class="mi-titulo">Elije a quien votar</h1>
    <div calss="flex-container">
        {% for i in range(0, largo) %}
            {% set cont = i * 3 %}
                <img src="{{ url_for('static', filename = 'images/' + listas[i].imagen) }}" alt="{{ listas[i].num_lista }}" id="{{ datosImagen[cont] }}" data-value="{{ datosImagen[cont + 1] }}" class="imagen-lista" data-modal="{{ datosImagen[cont + 2] }}">
        {% endfor %}
    </div>


        {% for modal in datosModal %}
        <div class="modal" id="{{ modal.nombre }}">
          <div class="modal-content">
                <h1>¿Seguro quieres votar ésta lista?</h1>
                <div class="clearfix">
                  <button id="{{ modal.cancelBtn }}" class="cancelbtn" data-modal="{{ modal.nombre }}">Cancelar</button>
                  <button id="{{ modal.continueBtn }}" class="continuebtn" data-link="{{ modal.link }}" data-modal="{{ modal.nombre }}">Continuar</button>
                </div>
          </div>
        </div>
        {% endfor %}

    <script>

    // Obtengo las imagenes y hago que muestre el modal cuando se le hace click
    const imagenes = document.querySelectorAll('.imagen-lista');
    imagenes.forEach(imagen => {
      imagen.addEventListener('click', event => {
          const dataModal = imagen.getAttribute('data-modal');
          const modal = document.getElementById(dataModal);
          modal.style.display = "block";
      });
    });

    // Obtengo los botones de cancelar para que cierren el modal
    const cancelbtns = document.querySelectorAll('.cancelbtn');
    cancelbtns.forEach(button => {
      button.addEventListener('click', event => {
        const dataModal = button.getAttribute('data-modal');
        const modal = document.getElementById(dataModal);
        modal.style.display = "none";
      });
    });

    // Obtengo los botones de continuar para que vaya a la pagina de votar
    const continuebtns = document.querySelectorAll('.continuebtn');
    continuebtns.forEach(button => {
      button.addEventListener('click', event => {
        const link = button.getAttribute('data-link');
        window.location.href = link;
      });
    });

  </script>

    <form class="volver">
        <button class="botones" formaction="{{ url_for('public.index') }}">Volver</button>
    </form>

{% endblock %}