.form-agregar-listas {
  background-color: #e1b3b3;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
  width: 40%;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 18px;
  font-family: Rockwell, sans-serif;
  color: #333;
  display: block;
  margin-bottom: 10px;
}

.general {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}