.botones {
	background-color: #ed3232;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin-top: 10px;
	justify-content: center;
	align-items: center;
	width: 150px;
	border-radius: 12px;
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.1);
}

.botones:hover {
	background-color: #fa7171;
}