body {
  align-items: center;
  background-color: #ece0df;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.form {
  background-color: #e1b3b3;
  border-radius: 20px;
  box-sizing: border-box;
  height: 550px;
  padding: 20px;
  width: 320px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.1);
}

.title {
  color: #ed3232;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 15px;
}

.subtitle {
  color: #ed3232;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}