.modal {
  display: none; /* ocultamos el modal inicialmente */
  position: fixed; /* fijamos la posición del modal en la pantalla */
  z-index: 1; /* ponemos el modal encima de otros elementos */
  padding-top: 100px; /* espacio arriba del modal */
  left: 0;
  top: 0;
  width: 100%; /* ancho del modal */
  height: 100%; /* alto del modal */
  overflow: auto; /* habilitamos el scroll si el contenido del modal es demasiado largo */
  background-color: rgb(0,0,0); /* color de fondo */
  background-color: rgba(0,0,0,0.4); /* transparencia del color de fondo */
}

/* estilos para el contenido del modal */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #ed3232;
}


/* Estilos para el botón que cierra el modal */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}