<head>
    <script src="{{ url_for('static', filename='scripts/displayDiv.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_input.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/submit_buton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/checkbox_rememberme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form_login_title_subtitle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/botones.css') }}">
</head>
{% extends "base.html" %}
{% block content %}

<div class="form">
    <div class="title">Bienvenido</div>
    <div class="subtitle">Ingrese por email o número de socio</div>
    <div class="input-container ic1" style="margin-top:15px;">
        {{ form.opcion }}
    </div>
        <div id="divEmail" style="display:block">
            <div class="input-container ic2">
                {{ form.email }}
                <div class="cut cut-email"></div>
                <label for="email" class="placeholder">Email</label>
            </div>
        </div>
        <div id="divSocio" style="display:none">
            <div class="input-container ic2">
                {{ form.num_socio }}
                <div class="cut cut-socio"></div>
                <label for="num_socio" class="placeholder">Nº Socio</label>
            </div>
        </div>
    <div class="input-container ic2">
        {{ form.password }}
        <div class="cut cut-password"></div>
        <label for="password" class="placeholder">Contraseña</label>
    </div>

    <label class="checkbox-container">
		  {{ form.remember_me() }}
		  <span class="checkbox-fake"></span>
    </label>
    {{ form.submit() }}

    <form>
        <button class="botones" formaction="{{ url_for('public.index') }}" style="width:100%;margin-top:15px;">Volver</button>
    </form>
</div>
{% endblock %}